{% extends "base.html" %}

{% block title %}Користувачі - Каталог тварин{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Користувачі</h2>
    
    <div class="table-responsive">
        <table class="table table-hover align-middle">
            <thead class="table-light">
                <tr>
                    <th scope="col">Фото</th>
                    <th scope="col">Ім'я користувача</th>
                    <th scope="col">Email</th>
                    <th scope="col">Ім'я</th>
                    <th scope="col">Прізвище</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td style="width: 100px;">
                        {% if user.image_small %}
                            <img src="/media/{{ user.image_small }}" 
                                 alt="{{ user.username }}" 
                                 class="rounded-circle"
                                 style="width: 50px; height: 50px; object-fit: cover;">
                        {% else %}
                            <div class="rounded-circle bg-secondary d-flex align-items-center justify-content-center"
                                 style="width: 50px; height: 50px;">
                                <span class="text-white">{{ user.username|make_list|first|upper }}</span>
                            </div>
                        {% endif %}
                    </td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}